<img src = "https://drive.google.com/uc?export=view&id=1WaM3ez8iLaUk3VyWNYZQuifnvbEX4vbK" alt = "Encabezado MLDS" width = "100%">  </img>

# **Entendimiento de los datos con *pandas* I**
---
<img src = "https://pandas.pydata.org/static/img/pandas.svg" alt = "pandas Logo" width = "70%">  </img>



***Pandas*** es una librería de código abierto de *Python* muy popular diseñada para tareas de análisis y manipulación de datos. Es, junto a *NumPy* y *SciPy*, un módulo fundamental del ecosistema de computación científica en *Python* y es usado en proyectos de análisis de datos.

En este material, se discutirán las funcionalidades que *pandas* ofrece para el proceso de entendimiento de los datos, desde sus estructuras de datos fundamentales, sus atributos y métodos principales, además de herramientas de escritura y lectura de datos.

## **1. Importar *pandas***
---

*pandas*, al igual que *NumPy*, viene instalado por defecto en la mayoría de distribuciones de *Python*. En este material, y en muchos recursos que encontrará en la web, se utilizará el alias **`pd`** como abreviatura de *pandas*. Si lo desea, puede trabajar sin alias o con módulos específicos, tal como se discutió en la guía de *NumPy*.

*pandas* está construido encima de *NumPy* y depende de este para muchas de sus funcionalidades principales. Se recomienda instalar en conjunto estas librerías, pues juntas proveen una herramienta poderosa para la manipulación de conjuntos de datos. Se usará el alias **`np`** como abreviatura de *NumPy* y **`pd`** como abreviatura de *Pandas*.

In [1]:
!pip install --upgrade xlrd    # Paquete necesario para cargar archivos de excel usando las versiones más recientes de pandas

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: xlrd in /usr/local/lib/python3.7/dist-packages (1.1.0)
Collecting xlrd
  Downloading xlrd-2.0.1-py2.py3-none-any.whl (96 kB)
     |████████████████████████████████| 96 kB 2.2 MB/s
Installing collected packages: xlrd
  Attempting uninstall: xlrd
    Found existing installation: xlrd 1.1.0
    Uninstalling xlrd-1.1.0:
      Successfully uninstalled xlrd-1.1.0
Successfully installed xlrd-2.0.1

In [2]:
import numpy as np
import pandas as pd

In [3]:
!python --version
print('NumPy', np.__version__)
print('pandas', pd.__version__)

Python 3.7.15
NumPy 1.21.6
pandas 1.3.5

Este material fue realizado con las siguientes versiones:

- Python: 3.6.9
- NumPy: 1.19.5
- pandas: 1.1.5

## **2. pd.Series y pd.DataFrame**
---

*Pandas* está orientado al manejo de datos de carácter tabular, como las tablas de hojas de cálculo o de bases de datos relacionales. Su funcionalidad gira en torno a dos estructuras de datos fundamentales:
* **`Series`**
* **`Dataframes`**

### **2.1. *Series***
---

El primer objeto a considerar es el objeto *Series*. Una serie es un arreglo unidimensional de datos, cuyos elementos son identificados por un índice (no necesariamente uno único como en los diccionarios de *Python*). Se puede considerar como dos arreglos de *NumPy* asociados. Uno, el *índice* o **index** de la serie, cuyos valores corresponden a los valores usados para identificar cada entrada de la serie. El otro es el contenido de la serie, del mismo tamaño de su índice. Esta relación permite obtener los elementos en una serie de la forma en que se haría con un diccionario, permitiendo a su vez un espectro mayor de funcionalidad y utilidad para el análisis de datos.

La forma principal de crear *Series* en *pandas* es mediante el constructor **`pd.Series`**. Esta función admite como argumento distintos tipos de dato y argumentos adicionales para la definición de series. Los tipos de dato permitidos son:

**1.  Listas o tuplas de Python**: Al usar listas de *Python* como entrada, su contenido se convierte en el contenido del nuevo objeto *Series*. El argumento **`index`** permite definir el índice de la lista. Si no se pasa este argumento el índice son los números enteros desde 0 hasta el tamaño de la serie, como en un arreglo o una lista.

In [4]:
#Listas y tuplas de Python (Variables, listas/tuplas literales, comprensión de listas...)
pd.Series(['a', 'b', 'c'])

0    a
1    b
2    c
dtype: object

In [5]:
pd.Series(('a', 'b', 'c'))

0    a
1    b
2    c
dtype: object

In [6]:
values = [f'Value: {i}' for i in range(10)]
index  = [f'Index: {i}' for i in range(10)] # Índices con cadenas de caracteres

serie = pd.Series(values,          # Valores de la serie
                  index = index )  # Índice de la serie

print(type(serie)) # Imprime el tipo de dato: Series
serie

<class 'pandas.core.series.Series'>

Index: 0    Value: 0
Index: 1    Value: 1
Index: 2    Value: 2
Index: 3    Value: 3
Index: 4    Value: 4
Index: 5    Value: 5
Index: 6    Value: 6
Index: 7    Value: 7
Index: 8    Value: 8
Index: 9    Value: 9
dtype: object

**2.  Arreglos de *NumPy***: Tanto el argumento de contenido como el argumento de índice **`index`** aceptan arreglos de *NumPy* en su definición. Como *pandas* y sus objetos están diseñados utilizando arreglos de *NumPy*, también se consideran los tipos de dato de *NumPy* para sus objetos. Estos pueden inferirse si provienen de una lista o un arreglo, o pueden especificarse con el argumento **`dtype`**.

In [7]:
#Arreglos de NumPy (Tanto para los valores como para el índice)
pd.Series(np.logspace(0, 4, 10), index = np.linspace(0, 90, 10, dtype = 'int'))

0         1.000000
10        2.782559
20        7.742637
30       21.544347
40       59.948425
50      166.810054
60      464.158883
70     1291.549665
80     3593.813664
90    10000.000000
dtype: float64

In [8]:
pd.Series(np.linspace(0, 500, 10), dtype = 'float16')

0      0.0000
1     55.5625
2    111.1250
3    166.6250
4    222.2500
5    277.7500
6    333.2500
7    389.0000
8    444.5000
9    500.0000
dtype: float16

**3.  Diccionarios de *Python***: El constructor también admite diccionarios de *Python* como argumento para su definición. Al recibir este tipo de dato, las llaves del diccionario se interpretan como el índice y sus valores asociados como el contenido de la serie.

In [9]:
#Diccionarios
data = {
    'a' : 1,
    'b' : 2,
    'c' : 3
    }
pd.Series(data)

a    1
b    2
c    3
dtype: int64

Además, se le puede añadir un nombre con el argumento **`name`**. Esto será de utilidad cuando se use de la mano con objetos **`pd.DataFrame`**, que se presentarán a continuación.

### **2.2. DataFrame**
---

Los objetos **`pd.DataFrame`** son el objeto principal de *pandas*. Representan una tabla, un tipo de conjunto de datos con un índice asignado a sus filas y uno asignado a sus columnas. Cada fila o columna representa un objeto **`pd.Series`**.

En el análisis de datos, se tiene una convención para distinguir entre filas y columnas. Las filas se suelen considerar observaciones, repeticiones de un experimento, o individuos de algo en particular. Por su parte, las columnas representan variables asociadas a cada observación (características), por lo que pueden tener distintos tipos de dato o semántica independiente. La intersección entre una fila y una columna se conoce como celda, y representa el valor de una variable de una instancia específica.

Para crear un objeto *DataFrame* se puede utilizar el constructor **`pd.DataFrame`**. Al igual que las *Series*, este constructor admite distintos tipos de dato:

**1.  Arreglo de *NumPy*:**  Los datos de entrada se pueden especificar como un arreglo de *NumPy* de dos dimensiones. Al hacer esto, los valores de la primera dimensión (axis = 0) son organizados por filas, y los arreglos de la segunda dimensión (axis = 1) son organizados por columnas. Añadir un arreglo de 1 dimensión construye un *DataFrame* de 1 sola columna en lugar de una serie. Arreglos con otras dimensiones generarán un error.

Esta vez, para distinguir entre filas y columnas se definen dos argumentos para la definición de los arreglos usados para representar sus índices. Estos son:

*  **`index`**: Este argumento (igual al recibido por el constructor **`pd.Series`**) define el valor de los índices de las filas de la tabla.
*  **`columns`**: Este argumento define el valor de los índices de las columnas de la tabla.

No es necesario que estos argumentos contengan valores únicos, aunque es recomendable si se desea manejar cada elemento de forma aislada. También es válido usar combinaciones de tuplas y listas para esta definición.

In [10]:
#Arreglo de NumPy
pd.DataFrame(np.full((3,7), 10), index = list('aba'))

    0   1   2   3   4   5   6
a  10  10  10  10  10  10  10
b  10  10  10  10  10  10  10
a  10  10  10  10  10  10  10

In [11]:
#Combinación de tuplas y listas
#Los índices de filas y columnas por defecto son números enteros empezando desde 0.
pd.DataFrame([(10, 20), (30, 40)] )

    0   1
0  10  20
1  30  40

**3.  Diccionarios de *Python***: El constructor también admite diccionarios de *Python* como argumento para su definición. Al recibir este tipo de dato, las llaves del diccionario se interpretan como el índice de las *columnas* y sus valores asociados como el contenido de cada columna, en forma de estructuras de 1 dimensión como arreglos o listas. Es importante que estas tengan la misma longitud, o se producirá un error.

In [12]:
data = {    
   'a' : [1,2,3],
   'b' : [10,20,30]
}

pd.DataFrame(data)

   a   b
0  1  10
1  2  20
2  3  30

### **2.3. Atributos**
---


Los objetos *Series* y *DataFrame* tienen algunos atributos a los que se puede acceder con el símbolo **`.`**. Algunos de estos son heredados de sus objetos internos de *NumPy*. A continuación se muestran algunos de ellos:

In [13]:
s  = pd.Series(np.random.randn(10), 
               name = 'mi serie'
               )

df = pd.DataFrame(np.eye(6,3), 
                  index = list('abcdef'),
                  columns = list('XYZ')
                  )

In [14]:
s

0    0.046401
1   -1.315721
2   -0.597937
3    0.234787
4   -1.288796
5   -0.111772
6    1.022188
7   -0.242231
8    0.666538
9   -0.768348
Name: mi serie, dtype: float64

In [15]:
df

     X    Y    Z
a  1.0  0.0  0.0
b  0.0  1.0  0.0
c  0.0  0.0  1.0
d  0.0  0.0  0.0
e  0.0  0.0  0.0
f  0.0  0.0  0.0

* **`values:`** El arreglo de *NumPy* con el contenido del objeto.

In [16]:
s.values

array([ 0.04640104, -1.31572075, -0.5979373 ,  0.23478694, -1.28879593,
       -0.11177218,  1.02218777, -0.24223053,  0.66653783, -0.76834836])

In [17]:
df.values

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.]])

* **`index`**: El objeto de tipo **`pd.Index`** con el índice de la serie, o el índice de las filas del *DataFrame*.

In [18]:
s.index

RangeIndex(start=0, stop=10, step=1)

In [19]:
df.index

Index(['a', 'b', 'c', 'd', 'e', 'f'], dtype='object')

* **`columns` (solo *DataFrame*)**: El objeto de tipo **`pd.Index`** con el índice de las columnas del *DataFrame*.

In [20]:
df.columns

Index(['X', 'Y', 'Z'], dtype='object')

* **`name` (solo *Series*)**: Cadena de texto con el nombre que recibe la serie.

In [21]:
s.name

'mi serie'

Cada fila y cada columna en un *DataFrame* son objetos *Series*. El indexado en *pandas* se verá en detalle en el próximo material. Ahora mismo, para algunas de las funcionalidades presentadas puede ser útil dar un vistazo a la indexación básica de columnas de *pandas*. Esta se realiza como el indexado de diccionarios de *Python*, de la siguiente forma:

In [22]:
df['X'] # Esto retorna la serie correspondiente a la columna X del DataFrame.

a    1.0
b    0.0
c    0.0
d    0.0
e    0.0
f    0.0
Name: X, dtype: float64

In [23]:
type(df['X']) # Una única columna es de tipo Series.

pandas.core.series.Series

#### **2.3.1. Atributos heredados de *NumPy***
---

* **`size`**: Tamaño (número de elementos) del arreglo de *NumPy* del contenido del objeto.

In [24]:
s.size

10

In [25]:
df.size

18

* **`shape`**: Tupla con el tamaño de las dimensiones del arreglo de *NumPy* del contenido del objeto.

In [26]:
s.shape

(10,)

In [27]:
df.shape

(6, 3)

* **`dtype | dtypes`**: Tipo del arreglo que representa el contenido del objeto. En DataFrames se usa el atributo **`dtypes`**, que retorna una serie con el tipo de dato de cada columna.

In [28]:
s.dtype

dtype('float64')

In [29]:
df.dtypes

X    float64
Y    float64
Z    float64
dtype: object

* **`ndim`**: Retorna el número de dimensiones. Por definición siempre va a retornar $1$ si se llama en *Series* y $2$ si se llama en *DataFrame*. En el caso de arreglos n-dimensionales en *NumPy* es muy útil.

In [30]:
s.ndim

1

In [31]:
df.ndim

2

* **`T`**: Retorna el *DataFrame* transpuesto. Las filas se convierten en columnas y las columnas en filas. En las *Series*, retorna el mismo objeto. El objeto transpuesto de un *DataFrame* puede ser usado como cualquier objeto *DataFrame*, añadiendo flexibilidad en el tratamiento de los datos.

In [32]:
s.T

0    0.046401
1   -1.315721
2   -0.597937
3    0.234787
4   -1.288796
5   -0.111772
6    1.022188
7   -0.242231
8    0.666538
9   -0.768348
Name: mi serie, dtype: float64

In [33]:
df.T

     a    b    c    d    e    f
X  1.0  0.0  0.0  0.0  0.0  0.0
Y  0.0  1.0  0.0  0.0  0.0  0.0
Z  0.0  0.0  1.0  0.0  0.0  0.0

In [34]:
df.T.index #El índice de la tabla transpuesta es el índice de las columnas.

Index(['X', 'Y', 'Z'], dtype='object')

## **3. Importar y exportar datos**
---
*Pandas* permite generar y cargar distintos orígenes de datos para su procesamiento o almacenamiento. Uno de los primeros pasos en un proceso de análisis de datos es la adquisición e integración de dichos datos para su posterior procesamiento.

### **3.1. Exportar datos**
---

En esta guía empezaremos por el proceso de exportación de datos por conveniencia, ya que usaremos los datos generados para explicar el cómo importarlos posteriormente.

Los objetos *Series* y *DataFrame* tienen métodos de conveniencia para generar como salida archivos de varios formatos importantes. Estos métodos tienen la estructura **`.to_<>`**, en donde **`<>`** corresponde al nombre del formato deseado. A continuación se presentan los más importantes. Se recomienda consultar la [documentación oficial](https://pandas.pydata.org/docs/user_guide/io.html#io-store-in-csv) si necesita un formato en particular.

La mayoría de los métodos expuestos, salvo algunas excepciones, funcionan tanto para *DataFrame* como para *Series*. En este tutorial se enseñarán ejemplos del funcionamiento con *DataFrame*, dado que es el escenario más común en el manejo de tablas externas.

In [35]:
#Este ejemplo será usado en el resto de explicaciones.

index = list('abcd')
columns = list('xyz')

data = np.random.randint(10, 99, (4,3))
df = pd.DataFrame(data, index = index, columns = columns)

df

    x   y   z
a  35  78  16
b  74  91  20
c  16  76  19
d  57  26  47

####  **3.1.1. CSV | `.to_csv`** 
---
Del inglés *Comma-separated values*, *csv* es uno de los formatos de archivos de texto más comunes para el almacenamiento de datos tabulares. Como su nombre lo indica, los elementos son almacenados celda a celda separados por comas (u otros delimitadores, si así se desea) y separando las filas con saltos de línea. Este método acepta muchos argumentos, que permiten personalizar un formato particular. Estos permiten definir, entre otras cosas:

  * El nombre y extensión del archivo generado. (**`path`**)
  * Un delimitador distinto a la coma. (**`sep`**)
  * La representación para datos faltantes. (**`na_rep`**)
  * El formato de los decimales. (**`float_format`**)
  * El formato de las fechas. (**`date_format`**)
  * Imprimir o no el encabezado y el nombre del indice. (**`header`** | **`index`**)
  * Filas y columnas a escribir. (**`columns`** | **`chunksize`**)

Lo invitamos a consultar la [especificación](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_csv.html) de la función en la documentación oficial para más detalles sobre cómo usar estos argumentos.

Todos los argumentos son opcionales, y en caso de faltar, *pandas* define un comportamiento por defecto con el formato más común y el recomendado en la mayoría de los casos.

In [36]:
#Si no se define una ruta, se escribe en una cadena de texto.
df.to_csv()

',x,y,z\na,35,78,16\nb,74,91,20\nc,16,76,19\nd,57,26,47\n'

In [37]:
#La extensión no tiene que ser csv (aunque se recomienda)
df.to_csv('df_to_csv.txt')

In [38]:
#Se muestran los archivos en el directorio actual con el comando del sistema "ls".
!ls

df_to_csv.txt  sample_data

In [39]:
#Miramos el contenido del archivo generado con el comando del sistema "cat".
!cat df_to_csv.txt

,x,y,z
a,35,78,16
b,74,91,20
c,16,76,19
d,57,26,47

####  **3.1.2. Hojas de cálculo | `.to_excel`** 
---
Otro de los formatos más comunes es el formato del software *Microsoft Office Excel* (o su alternativa abierta *LibreOffice* con documentos en formato .*odf*), que permite disponer de datos tabulares en hojas de cálculo. Existen muchos datos almacenados en este formato, y suele ser requisito del proceso utilizarlo. *Pandas* permite generar y cargar archivos en este formato, ofreciendo opciones de personalización específicas. Algunas de estas son:

  * El nombre y extensión del archivo generado. (**`excel_writer`**) 
  * El nombre de la hoja de cálculo. (**`sheet_name`**)
  * Fila y columna en donde empezar a escribir los datos. (**`startrow`** | **`startcol`**)
  *  Combinar celdas de índices múltiples. (**`merge_cells`**)

Además, comparte argumentos de detalles de formato con otras funciones, como se mencionó previamente.

  Lo invitamos a consultar la [especificación](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_excel.html) de la función en la documentación oficial para más detalles sobre cómo usar estos argumentos.

In [40]:
df.to_excel('df_to_excel.xls', 'hoja_ejemplo')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: As the xlwt package is no longer maintained, the xlwt engine will be removed in a future version of pandas. This is the only engine in pandas that supports writing in the xls format. Install openpyxl and write to an xlsx file instead. You can set the option io.excel.xls.writer to 'xlwt' to silence this warning. While this option is deprecated and will also raise a warning, it can be globally set and the warning suppressed.
  """Entry point for launching an IPython kernel.

In [41]:
#(SOLO PARA COLAB) Función para descargar el archivo generado.
from google.colab import files
files.download('df_to_excel.xls')

También, puede consultar y descargar los archivos que tiene disponibles en el sistema de archivos de *Google Colab* haciendo clic en el icono de directorio que aparece en la parte izquierda de esta ventana.

####  **3.1.3. JSON | `.to_json`** 
---
Otro formato común es el *.json* (*JavaScript Object Notation*). Este estándar proviene del lenguaje de programación [*JavaScript*](https://developer.mozilla.org/en-US/docs/Web/JavaScript) y es muy similar a la notación usada en los diccionarios de *Python*, pues usa una combinación entre objetos compuestos por parejas de llaves y valores y listas. *JavaScript* es el lenguaje principal en el desarrollo de páginas web. El estándar *JSON* es independiente del lenguaje, y es muy común usarlo para el intercambio de datos.

El principal argumento específico de este formato es **`orient`**, que define los detalles del formato de JSON a generar.

Al igual que antes, comparte argumentos de detalles de formato con otras funciones.

Lo invitamos a consultar la [especificación](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_json.html) de la función en la documentación oficial para más detalles sobre cómo usar estos argumentos.

In [42]:
#Python tiene soporte para este formato con el módulo json
import json

def print_json(raw_json):
  parsed = json.loads(raw_json)
  print(json.dumps(parsed, indent = 2))

In [43]:
# columns - Retorna un objeto con las columnas como llave y las filas en forma de objeto.

s = df.to_json(orient = 'columns')
print_json(s)

{
  "x": {
    "a": 35,
    "b": 74,
    "c": 16,
    "d": 57
  },
  "y": {
    "a": 78,
    "b": 91,
    "c": 76,
    "d": 26
  },
  "z": {
    "a": 16,
    "b": 20,
    "c": 19,
    "d": 47
  }
}

In [44]:
# split - Retorna las columnas, índice y valores por separado

s = df.to_json(orient = 'split')
print_json(s)

{
  "columns": [
    "x",
    "y",
    "z"
  ],
  "index": [
    "a",
    "b",
    "c",
    "d"
  ],
  "data": [
    [
      35,
      78,
      16
    ],
    [
      74,
      91,
      20
    ],
    [
      16,
      76,
      19
    ],
    [
      57,
      26,
      47
    ]
  ]
}

In [45]:
# records - Retorna una lista de los registros (filas) en forma de objeto

s = df.to_json(orient = 'records')
print_json(s)

[
  {
    "x": 35,
    "y": 78,
    "z": 16
  },
  {
    "x": 74,
    "y": 91,
    "z": 20
  },
  {
    "x": 16,
    "y": 76,
    "z": 19
  },
  {
    "x": 57,
    "y": 26,
    "z": 47
  }
]

In [46]:
# index - Retorna un objeto con los índices como llave y las columnas en forma de objeto.

s = df.to_json(orient = 'index')
print_json(s)

{
  "a": {
    "x": 35,
    "y": 78,
    "z": 16
  },
  "b": {
    "x": 74,
    "y": 91,
    "z": 20
  },
  "c": {
    "x": 16,
    "y": 76,
    "z": 19
  },
  "d": {
    "x": 57,
    "y": 26,
    "z": 47
  }
}

In [47]:
# values - Retorna únicamente el arreglo de valores.

s = df.to_json(orient = 'values')
print(s)

[[35,78,16],[74,91,20],[16,76,19],[57,26,47]]

In [48]:
# table - Formato de tabla con datos descriptivos de su estructura.

s = df.to_json(orient = 'table')
print_json(s)

{
  "schema": {
    "fields": [
      {
        "name": "index",
        "type": "string"
      },
      {
        "name": "x",
        "type": "integer"
      },
      {
        "name": "y",
        "type": "integer"
      },
      {
        "name": "z",
        "type": "integer"
      }
    ],
    "primaryKey": [
      "index"
    ],
    "pandas_version": "0.20.0"
  },
  "data": [
    {
      "index": "a",
      "x": 35,
      "y": 78,
      "z": 16
    },
    {
      "index": "b",
      "x": 74,
      "y": 91,
      "z": 20
    },
    {
      "index": "c",
      "x": 16,
      "y": 76,
      "z": 19
    },
    {
      "index": "d",
      "x": 57,
      "y": 26,
      "z": 47
    }
  ]
}

In [49]:
df.to_json('df_to_json.json') # El orient por defecto es "columns"

In [50]:
!cat df_to_json.json

{"x":{"a":35,"b":74,"c":16,"d":57},"y":{"a":78,"b":91,"c":76,"d":26},"z":{"a":16,"b":20,"c":19,"d":47}}

####  **3.1.4. HTML | `.to_html`** 
---
*Pandas* también permite generar tablas **HTML** (*Hyper Text Markup Language*), el formato usado en páginas web, perfecto para presentar los resultados de un análisis o exponer un conjunto de datos. 
Este formato tiene muchas opciones de personalización definidas en sus argumentos, que corresponden principalmente al estilo generado, además de los argumentos de detalles de formato comunes.

Lo invitamos a consultar la [especificación](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_html.html) de la función en la documentación oficial para más detalles sobre cómo usar estos argumentos.

In [51]:
import IPython

#Función para renderizar HTML en el notebook.

def print_HTML(str):
  display(IPython.display.HTML(df.to_html()))

In [52]:
s = df.to_html('df_to_html.html')

print_HTML(s)

####  **3.1.5. LaTeX | `.to_latex`** 
---
En algunas ocasiones, se puede requerir de formatos más específicos que no sean usados posteriormente en otras aplicaciones. Es el caso de *$LaTeX$*, estándar para la generación de documentos científicos, con notación especial para ecuaciones y personalización de formatos. *Pandas* también permite generar tablas en este formato, listas para añadirse al código fuente del documento para su renderizado.
Este método tiene también múltiples opciones de personalización específicas del formato por medio de argumentos.

Lo invitamos a consultar la [especificación](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_latex.html) de la función en la documentación oficial para más detalles sobre cómo usar estos argumentos.

In [53]:
df.to_latex('df_to_latex.tex')

In [54]:
!cat df_to_latex.tex

\begin{tabular}{lrrr}
\toprule
{} &   x &   y &   z \\
\midrule
a &  35 &  78 &  16 \\
b &  74 &  91 &  20 \\
c &  16 &  76 &  19 \\
d &  57 &  26 &  47 \\
\bottomrule
\end{tabular}

####  **3.1.6. Markdown | `.to_markdown`** 
---
Al hablar de formatos de presentación, no podía faltar *Markdown*, formato usado, entre otras cosas, en el renderizado de las celdas de texto de los *Notebook*. *Pandas* permite generar texto que representa el formato de tablas usado en este lenguaje. Es ideal para generar tablas para sus proyectos con *Notebooks* de *Python*, o para plataformas como *GitHub*.
La mayoría de sus argumentos corresponde a la especificación de la librería [*tabulate*](https://pypi.org/project/tabulate/), sobre la cual *pandas* define la personalización de las tablas de *Markdown* generadas.

Lo invitamos a consultar la [especificación](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_markdown.html) de la función en la documentación oficial para más detalles sobre cómo usar estos argumentos.

In [55]:
s = df.to_markdown()

s

'|    |   x |   y |   z |\n|:---|----:|----:|----:|\n| a  |  35 |  78 |  16 |\n| b  |  74 |  91 |  20 |\n| c  |  16 |  76 |  19 |\n| d  |  57 |  26 |  47 |'

In [56]:
from IPython.display import display_markdown, Markdown

#Módulo de IPython para imprimir código fuente de markdown.
display_markdown(Markdown(s))

|    |   x |   y |   z |
|:---|----:|----:|----:|
| a  |  35 |  78 |  16 |
| b  |  74 |  91 |  20 |
| c  |  16 |  76 |  19 |
| d  |  57 |  26 |  47 |

*Pandas* ha dado soporte a una gran variedad de formatos, pero esta guía sería muy extensa si se presentaran en detalle. A continuación, presentamos una lista de los formatos soportados por *pandas* para la generación de tablas a partir de *DataFrames* y *Series*, o de utilidades específicas que le podrían interesar.

*  [*Python* Pickle](https://docs.python.org/3/library/pickle.html): [**`.to_pickle`**](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_pickle.html)
*  [*Apache Parquet*](https://parquet.apache.org/): [**`.to_parquet`**](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_parquet.html)
*  [*Hierarchical Data Format*](https://www.hdfgroup.org/solutions/hdf5/): [**`.to_hdf`**](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_hdf.html)
*  [*SQL (Structured Query Language)*](https://docs.sqlalchemy.org/en/13/): [**`.to_sql`**](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_sql.html)
*  [*Feather File Format*](https://arrow.apache.org/docs/python/feather.html): [**`.to_feather`**](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_feather.html)
*  [*Stata dta*](https://www.stata.com/): [**`.to_stata`**](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_stata.html)
*  [*Google Big Query*](https://cloud.google.com/bigquery): [**`.to_gbq`**](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_gbq.html)
*  [Diccionario de *Python*](https://docs.python.org/3/tutorial/datastructures.html#dictionaries): [**`.to_dict`**](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_dict.html)
*  [*NumPy* record](https://numpy.org/devdocs/reference/generated/numpy.recarray.html#numpy.recarray): [**`.to_records`**](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_records.html)
*  Cadena de texto de *Python*: [**`.to_string`**](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_string.html)
*  Copiar al portapapeles: [**`.to_clipboard`**](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_clipboard.html)

### **3.2. Importar datos**
---

*Pandas*, además de generar, brinda soporte para cargar y dar formato a diversos orígenes de datos. Inicialmente, se requiere reunir y entender los datos de interés y, posteriormente, integrarlos en un conjunto sobre el cual hacer actividades propias del análisis de datos.

Para esto, *pandas* dispone de la familia de métodos **`pd.read_*`** que, a diferencia de la familia de métodos **`.to_x`**, son llamados desde el módulo **`pd`** en vez que desde un objeto *DataFrame* o *Series*. Existen aún más métodos para la carga de orígenes de datos que aquellos usados en la generación. Se consideran también orígenes remotos, como conjuntos de datos alojados en la web, bases de datos remotas o de APIs específicas para la consulta de datos.

Al llamar estos métodos, *pandas* puede retornar objetos de tipo *Series* o de tipo *DataFrame*, dependiendo de las dimensiones del objeto cargado. Le recomendamos que consulte los detalles específicos de cada método de la documentación oficial.

####  **3.2.1. CSV | `pd.read_csv`** 

---
De la misma forma en que generamos un archivo en este formato, *pandas* permite cargarlo en forma de *DataFrame* o *Series*.
En este punto, los argumentos de la función se vuelven fundamentales, dados los posibles problemas que se pueden generar al cargar de forma inadecuada un archivo. *Pandas* permite realizar tareas de limpieza de datos, que se verá en detalle en la segunda parte de este material.
Algunos de los argumentos más importantes a tener en cuenta a la hora de cargar archivos en formato `.csv` son:

*  **`path`**: Ruta del archivo a cargar. Este argumento es el primero en posición y es obligatorio. Esta ruta no se limita a archivos locales, también se consideran URLs remotas.
*  **`sep`**: Separador de los elementos del archivo. 
*  **`header`**: Posición del header. La fila indicada será interpretada como los nombres de las columnas y se cargarán las filas que le precedan. 
*  **`names`**: Nombres a usar para las columnas cargadas. La longitud de esta lista/arreglo debe coincidir con el número de columnas. 
*  **`index_col`**: Posición o posiciones de las etiquetas usadas como índice. Si es una lista se crea un índice múltiple. Si se pasa el valor **`False`** se puede indicar a *pandas* que no use la primera columna como el índice del *DataFrame*.
*  **`usecols`**: Subconjunto de las columnas cargadas a usar en la generación del *DataFrame*.  
*  **`true_values` | `false_values`**: Caracteres que serán interpretados como valores de verdad **`True`** y **`False`**.

*  **`skip_rows` | `skip_footer`**: Filas a saltar desde el inicio y desde el final.
*  **`nrows`**: Total de filas a cargar. Especialmente útil para conjuntos de datos grandes en donde no nos interese toda la información.
*  **`na_values` | `keep_default_na` | `na_filter`**: Herramientas para el tratamiento de datos faltantes. Muy importante en el proceso de limpieza de datos.

Además de estos, existen muchos argumentos usados para la definición del formato de origen como la fecha o los números decimales, ofreciendo una gran variedad de opciones en la lectura de conjuntos de datos.


  Lo invitamos a consultar la [especificación](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html#pandas.read_csv) de la función en la documentación oficial para más detalles sobre cómo usar estos argumentos.

> **Nota:** El siguiente ejemplo solo funciona en *Google Colab*, que trae por defecto algunos *datasets* generales. Para hacerlo en local, ubique el archivo a cargar en la misma ruta.

In [57]:
# Carga de archivo ubicado en el sistema de archivos de Google Colab.
# En este caso se trata del dataset de prueba de alojamientos en el estado de California.

df = pd.read_csv('sample_data/california_housing_test.csv')

df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0
...,...,...,...,...,...,...,...,...,...
2995,-119.86,34.42,23.0,1450.0,642.0,1258.0,607.0,1.1790,225000.0
2996,-118.14,34.06,27.0,5257.0,1082.0,3496.0,1036.0,3.3906,237200.0
2997,-119.70,36.30,10.0,956.0,201.0,693.0,220.0,2.2895,62000.0
2998,-117.12,34.10,40.0,96.0,14.0,46.0,14.0,3.2708,162500.0
2999,-119.63,34.42,42.0,1765.0,263.0,753.0,260.0,8.5608,500001.0

In [58]:
# Podemos cargar el archivo generado anteriormente. 
# Recuerde que tiene que haber ejecutado la celda donde se genera o se producirá un error.

df = pd.read_csv('df_to_csv.txt', index_col=0)
df

    x   y   z
a  35  78  16
b  74  91  20
c  16  76  19
d  57  26  47

In [59]:
# La ruta también puede ser remota, como la de una URL.
url = 'https://drive.google.com/uc?export=download&id=1sO-OfJ-GT5emHXr6fRXCWFlzsHqL-YdQ'
df = pd.read_csv(url)
df

,Cereal Name,Manufacturer,Type,Calories,Protein (g),Fat,Sodium,Dietary Fiber,Carbs,Sugars,Display Shelf,Potassium,Vitamins and Minerals,Serving Size Weight,Cups per Serving
0,100%_Bran,Nabisco,C,70,4,1,130,10.0,5.0,6,3,280,25,1.0,0.33
1,100%_Natural_Bran,Quaker Oats,C,120,3,5,15,2.0,8.0,8,3,135,0,1.0,-1.00
2,All-Bran,Kelloggs,C,70,4,1,260,9.0,7.0,5,3,320,25,1.0,0.33
3,All-Bran_with_Extra_Fiber,Kelloggs,C,50,4,0,140,14.0,8.0,0,3,330,25,1.0,0.50
4,Almond_Delight,Ralston Purina,C,110,2,2,200,1.0,14.0,8,3,-1,25,1.0,0.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69,Triples,General Mills,C,110,2,1,250,0.0,21.0,3,3,60,25,1.0,0.75
70,Trix,General Mills,C,110,1,1,140,0.0,13.0,12,2,25,25,1.0,1.00
71,Wheat_Chex,Ralston Purina,C,100,3,1,230,3.0,17.0,3,1,115,25,1.0,0.67
72,Wheaties,General Mills,C,100,3,1,200,3.0,17.0,3,1,110,25,1.0,1.00
73,Wheaties_Honey_Gold,General Mills,C,110,2,1,200,1.0,16.0,8,1,60,25,1.0,0.75

####  **3.2.2. Hojas de cálculo | `pd.read_excel`** 
---
*Pandas* permite cargar hojas de cálculo de los formatos *xls*, *xlsx*, *xlsm*, *xlsb*, *odf*, *ods* y *odt*. Al igual que antes, la ruta especificada puede ser local o remota en forma de URL. Algunos argumentos a considerar son:

  * El nombre de la hoja a cargar. (**`sheet_name`**)
  * Posición del encabezado. (**`header`**)
  * Columnas de la hoja de cálculo a usar. Se pueden definir en formato de letras o rangos de letras, notación usada para etiquetar columnas. Expresiones de la forma 'A', 'A,C:E', entre otros. (**`usecols`**)
  *  Tipo de dato interpretado por columna. (**`dtype`**)
  *  Número de filas a cargar. (**`nrows`**)

Además, comparte argumentos de detalles de formato con otras funciones, como se mencionó previamente.

  Lo invitamos a consultar la [especificación](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_excel.html) de la función en la documentación oficial para más detalles sobre cómo usar estos argumentos.

In [60]:
pd.read_excel('df_to_excel.xls', index_col=0)

    x   y   z
a  35  78  16
b  74  91  20
c  16  76  19
d  57  26  47

La siguiente es una URL con el *dataset* de datos abiertos de cifras de turismo por mes de la ciudad de Bogotá:

In [61]:
#URL con dataset de datos abiertos de cifras de turismo de la ciudad de Bogotá

url = 'https://github.com/JuezUN/datasets/blob/master/cifras_turismobog_2018.xlsx?raw=true'

df = pd.read_excel(url, 
              sheet_name = 'Número de Turistas', #Hoja de cálculo a cargar.
              header = 8,  #Posición del encabezado
              usecols = 'A:D',  #Usar las primeras 5 columnas
              nrows = 48
            )

df.head()

     MES-AÑO  Total turistas  Turistas nacionales  Turistas internacionales
0 2015-01-01          497743             399306.0                   98437.0
1 2015-02-01          734318             612767.0                  121551.0
2 2015-03-01          857214             764469.0                   92745.0
3 2015-04-01          886778             782081.0                  104697.0
4 2015-05-01          986256             903469.0                   82787.0

####  **3.2.3. JSON | `pd.read_json`** 
---
En la sección anterior se discutían los métodos para almacenar un objeto mediante el argumento **`orient`**, y se recuerda pues es importante al definir la forma en que se va a cargar un archivo codificado con este estándar en *pandas*. Además de este, otros argumentos a considerar son:


  *  Tipo de objeto (*Series* o *DataFrame*) a recuperar. ( **`typ`**)
  *  Opciones de formato de fechas específicos de este estándar  (**`convert_dates`** |  **`keep_default_dates`**)

Al igual que antes, comparte argumentos de detalles de formato con otras funciones.

Lo invitamos a consultar la [especificación](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_json.html) de la función en la documentación oficial para más detalles sobre cómo usar estos argumentos.

In [62]:
df = pd.read_json('df_to_json.json')

df

    x   y   z
a  35  78  16
b  74  91  20
c  16  76  19
d  57  26  47

El siguiente ejemplo se realizará con el *dataset* del ejemplo del Cuarteto de Anscombe, cargado por defecto en Google Colab y explorado en la **Unidad 4**.

> **Nota:** Si está trabajando en local, recuerde descargar y ubicar apropiadamente el *dataset*.

In [63]:
#Primero debemos ver en qué formato se encuentra
!cat sample_data/anscombe.json

[
  {"Series":"I", "X":10.0, "Y":8.04},
  {"Series":"I", "X":8.0, "Y":6.95},
  {"Series":"I", "X":13.0, "Y":7.58},
  {"Series":"I", "X":9.0, "Y":8.81},
  {"Series":"I", "X":11.0, "Y":8.33},
  {"Series":"I", "X":14.0, "Y":9.96},
  {"Series":"I", "X":6.0, "Y":7.24},
  {"Series":"I", "X":4.0, "Y":4.26},
  {"Series":"I", "X":12.0, "Y":10.84},
  {"Series":"I", "X":7.0, "Y":4.81},
  {"Series":"I", "X":5.0, "Y":5.68},

  {"Series":"II", "X":10.0, "Y":9.14},
  {"Series":"II", "X":8.0, "Y":8.14},
  {"Series":"II", "X":13.0, "Y":8.74},
  {"Series":"II", "X":9.0, "Y":8.77},
  {"Series":"II", "X":11.0, "Y":9.26},
  {"Series":"II", "X":14.0, "Y":8.10},
  {"Series":"II", "X":6.0, "Y":6.13},
  {"Series":"II", "X":4.0, "Y":3.10},
  {"Series":"II", "X":12.0, "Y":9.13},
  {"Series":"II", "X":7.0, "Y":7.26},
  {"Series":"II", "X":5.0, "Y":4.74},

  {"Series":"III", "X":10.0, "Y":7.46},
  {"Series":"III", "X":8.0, "Y":6.77},
  {"Series":"III", "X":13.0, "Y":12.74},
  {"Series":"III", "X":9.0, "Y":7.11},
  {"Series":"III", "X":11.0, "Y":7.81},
  {"Series":"III", "X":14.0, "Y":8.84},
  {"Series":"III", "X":6.0, "Y":6.08},
  {"Series":"III", "X":4.0, "Y":5.39},
  {"Series":"III", "X":12.0, "Y":8.15},
  {"Series":"III", "X":7.0, "Y":6.42},
  {"Series":"III", "X":5.0, "Y":5.73},

  {"Series":"IV", "X":8.0, "Y":6.58},
  {"Series":"IV", "X":8.0, "Y":5.76},
  {"Series":"IV", "X":8.0, "Y":7.71},
  {"Series":"IV", "X":8.0, "Y":8.84},
  {"Series":"IV", "X":8.0, "Y":8.47},
  {"Series":"IV", "X":8.0, "Y":7.04},
  {"Series":"IV", "X":8.0, "Y":5.25},
  {"Series":"IV", "X":19.0, "Y":12.50},
  {"Series":"IV", "X":8.0, "Y":5.56},
  {"Series":"IV", "X":8.0, "Y":7.91},
  {"Series":"IV", "X":8.0, "Y":6.89}
]

In [64]:
df = pd.read_json('sample_data/anscombe.json', orient = 'records')

df

   Series   X      Y
0       I  10   8.04
1       I   8   6.95
2       I  13   7.58
3       I   9   8.81
4       I  11   8.33
5       I  14   9.96
6       I   6   7.24
7       I   4   4.26
8       I  12  10.84
9       I   7   4.81
10      I   5   5.68
11     II  10   9.14
12     II   8   8.14
13     II  13   8.74
14     II   9   8.77
15     II  11   9.26
16     II  14   8.10
17     II   6   6.13
18     II   4   3.10
19     II  12   9.13
20     II   7   7.26
21     II   5   4.74
22    III  10   7.46
23    III   8   6.77
24    III  13  12.74
25    III   9   7.11
26    III  11   7.81
27    III  14   8.84
28    III   6   6.08
29    III   4   5.39
30    III  12   8.15
31    III   7   6.42
32    III   5   5.73
33     IV   8   6.58
34     IV   8   5.76
35     IV   8   7.71
36     IV   8   8.84
37     IV   8   8.47
38     IV   8   7.04
39     IV   8   5.25
40     IV  19  12.50
41     IV   8   5.56
42     IV   8   7.91
43     IV   8   6.89

####  **3.2.4. HTML | `pd.read_html`** 
---
Este método permite leer páginas web (usando los protocolos *http*, *ftp* y *file* de URL) en busca de tablas HTML, que son retornadas en una lista de objetos *DataFrame*. Algunos argumentos de interés son:

  *  Cadena de texto o expresión regular a buscar en el contenido de las tablas. Si se especifica, solo las tablas que cumplan con esta condición serán cargadas. (**`match`**)

  * Etiquetas o atributos HTML usados para identificar una tabla en particular. (**`attrs`**)

Lo invitamos a consultar la [especificación](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_html.html) de la función en la documentación oficial para más detalles sobre cómo usar estos argumentos.

In [65]:
# Conjunto de datos de abanderados de los juegos olímpicos de Río de Janeiro 2016.
dfs = pd.read_html('https://es.wikipedia.org/wiki/Anexo:Abanderados_en_la_ceremonia_de_apertura_de_los_Juegos_Ol%C3%ADmpicos_de_R%C3%ADo_de_Janeiro_2016')

# Recuerde que la función retorna una lista con todas las tablas, así solo se encuentre una.

dfs[0] # Accedemos a la primera posición de la lista de DataFrames.

,Orden,País,Nombre en portugués,Abanderado[2]​,Deporte
0,1,Grecia (GRE),Grécia,Sofia Bekatorou,Vela
1,2,Afganistán (AFG),Afeganistão,Mohammad Tawfiq Bakhshi,Yudo
2,3,Sudáfrica (RSA),África do Sul,Wayde van Niekerk,Atletismo
3,4,Albania (ALB),Albânia,Luiza Gega,Atletismo
4,5,Alemania (GER),Alemanha,Timo Boll,Tenis de mesa
...,...,...,...,...,...
202,203,Islas Vírgenes Británicas (IVB),Ilhas Virgens Britânicas,Ashley Kelly,Atletismo
203,204,Zambia (ZAM),Zâmbia,Matthews Punza,Yudo
204,205,Zimbabue (ZIM),Zimbábue,Kirsty Coventry,Natación
205,206,Equipo Olímpico de Atletas Refugiados (ROT),Time Olímpico de Refugiados,Rose Lokonyen,Atletismo
206,207,Brasil (BRA),Brasil,Yane Marques,Pentatlón moderno

## **4. Combinar y agrupar conjuntos de datos**
---

Cuando se manejan datos que provienen desde múltiples fuentes, es frecuente enfrentar escenarios en los que se requiera combinarlos con el fin de consolidar el conjunto de datos. Esto puede ser necesario para realizar tareas de limpieza, preparación y análisis sobre el conjunto de variables completo.

*pandas* permite realizar esta tarea de varias formas, ofreciendo flexibilidad en la manipulación y estructura de datos con sus objetos *DataFrame* y *Series*.

A continuación se presentan los métodos principales para la combinación de datos en *pandas*.

#### **4.1. Combinación de datos**
---
* **`pd.concat`**: *Pandas* dispone de un método de alto nivel para concatenar objetos *DataFrame* y *Series* de manera secuencial. Similarmente al método **`concatenate`** de *NumPy*, se puede realizar esta concatenación en cualquiera de los dos ejes o *axis* posibles. ($0$ para filas y $1$ para columnas).
Al ser de alto nivel, los objetos se pasan como primer argumento en una colección tipo lista o tupla.

  Algunos argumentos adicionales a tener en cuenta son:

  *  Definir si conservar o no todos los registros, o solo aquellos que son producto de la intersección de los índices de todos los objetos. (**`join`**)   
  *  Decidir si respetar el índice de los objetos de entrada, o crear un índice de enteros que empiece en 0. (**`ignore_index`**)
  *  Decidir si ordenar o no el eje que no es concatenado.   (**`sort`**)

In [66]:
a = pd.Series([10,11,12], name = 'a')

a

0    10
1    11
2    12
Name: a, dtype: int64

In [67]:
b = pd.Series([5,4,3], name = 'b')

b

0    5
1    4
2    3
Name: b, dtype: int64

In [68]:
pd.concat([a, b]) # Por defecto se concatena por filas.

0    10
1    11
2    12
0     5
1     4
2     3
dtype: int64

In [69]:
pd.concat([a, b], axis = 1) # Los nombres (atributo name) definen el nombre de la columna.

    a  b
0  10  5
1  11  4
2  12  3

In [70]:
df_a = pd.DataFrame(np.eye(3))

df_a

     0    1    2
0  1.0  0.0  0.0
1  0.0  1.0  0.0
2  0.0  0.0  1.0

In [71]:
df_b = pd.DataFrame(np.full((3,2), -1))

df_b

   0  1
0 -1 -1
1 -1 -1
2 -1 -1

In [72]:
pd.concat([df_a, df_b], ignore_index= True)

     0    1    2
0  1.0  0.0  0.0
1  0.0  1.0  0.0
2  0.0  0.0  1.0
3 -1.0 -1.0  NaN
4 -1.0 -1.0  NaN
5 -1.0 -1.0  NaN

In [73]:
pd.concat([df_a, df_b], axis = 1, ignore_index = True)

     0    1    2  3  4
0  1.0  0.0  0.0 -1 -1
1  0.0  1.0  0.0 -1 -1
2  0.0  0.0  1.0 -1 -1

* **`df.append`**: Este método permite añadir al final de un objeto existente el contenido de uno o varios objetos *DataFrame* o *Series*. 
Se puede usar el argumento **`ignore_index`** para no restringir la correspondencia en los índices, y asignar los nuevos valores de forma automática. Por otra parte, se puede decidir arrojar un error si se encuentran índices duplicados con el argumento **`verify_integrity`**.

In [74]:
df = pd.DataFrame(np.random.rand(5,5))
df

          0         1         2         3         4
0  0.973916  0.814652  0.317838  0.843159  0.269427
1  0.474090  0.829070  0.853251  0.826922  0.980264
2  0.031289  0.529578  0.071657  0.239681  0.502010
3  0.871572  0.530681  0.822941  0.731667  0.081752
4  0.233626  0.485911  0.160336  0.410759  0.366322

In [75]:
df.append(pd.Series(np.full(5, 100)), ignore_index = True)

            0           1           2           3           4
0    0.973916    0.814652    0.317838    0.843159    0.269427
1    0.474090    0.829070    0.853251    0.826922    0.980264
2    0.031289    0.529578    0.071657    0.239681    0.502010
3    0.871572    0.530681    0.822941    0.731667    0.081752
4    0.233626    0.485911    0.160336    0.410759    0.366322
5  100.000000  100.000000  100.000000  100.000000  100.000000

In [76]:
# El objeto original no se modifica. Para esto se recomienda
# reasignar la variable con el nuevo DataFrame.

df

          0         1         2         3         4
0  0.973916  0.814652  0.317838  0.843159  0.269427
1  0.474090  0.829070  0.853251  0.826922  0.980264
2  0.031289  0.529578  0.071657  0.239681  0.502010
3  0.871572  0.530681  0.822941  0.731667  0.081752
4  0.233626  0.485911  0.160336  0.410759  0.366322

In [77]:
df = df.append(pd.DataFrame(np.eye(5)), ignore_index = True)
df

          0         1         2         3         4
0  0.973916  0.814652  0.317838  0.843159  0.269427
1  0.474090  0.829070  0.853251  0.826922  0.980264
2  0.031289  0.529578  0.071657  0.239681  0.502010
3  0.871572  0.530681  0.822941  0.731667  0.081752
4  0.233626  0.485911  0.160336  0.410759  0.366322
5  1.000000  0.000000  0.000000  0.000000  0.000000
6  0.000000  1.000000  0.000000  0.000000  0.000000
7  0.000000  0.000000  1.000000  0.000000  0.000000
8  0.000000  0.000000  0.000000  1.000000  0.000000
9  0.000000  0.000000  0.000000  0.000000  1.000000

 * **`df.assign`**: Otro método para combinar *Series* u otros objetos similares y añadir su contenido a un *DataFrame* existente en forma de columnas. Los datos permitidos para construir columnas con el método **`assign`** son:

  * Objetos *Series*.
  * Listas y tuplas de *Python*.
  * Arreglos de *NumPy*
  * Valores escalares.
  * Valores invocables como funciones o clases.

Todos los argumentos ingresados al método se interpretan como columnas nuevas a ser creadas.

In [78]:
df = pd.DataFrame({'a' : [1, 2, 3],
                   'b' : [4, 5, 6],
                   'c' : [7, 8, 9]})
df

   a  b  c
0  1  4  7
1  2  5  8
2  3  6  9

In [79]:
serie = pd.Series(['a', 'b', 'c'])
lista = [-1] * 3
arreglo = np.linspace(0, 1, 3)
escalar = 100
función = lambda x : x['a'] + x['b']

df.assign(d = serie, 
          e = lista,
          f = arreglo,
          g = escalar,
          h = función)

   a  b  c  d  e    f    g  h
0  1  4  7  a -1  0.0  100  5
1  2  5  8  b -1  0.5  100  7
2  3  6  9  c -1  1.0  100  9

In [80]:
# El objeto original no se modifica. Recuerde reasignar.
df

   a  b  c
0  1  4  7
1  2  5  8
2  3  6  9

In [81]:
df = df.assign(d = serie, 
          e = lista,
          f = arreglo,
          g = escalar,
          h = función)
df

   a  b  c  d  e    f    g  h
0  1  4  7  a -1  0.0  100  5
1  2  5  8  b -1  0.5  100  7
2  3  6  9  c -1  1.0  100  9

* **`df.merge`**: Este método permite combinar el contenido de dos *DataFrame*. Los valores de la columna indicada, que correspondan en ambos objetos, formarán una nueva fila con los datos de ambos *DataFrame* originales, combinando los valores de las demás columnas en vez de agregarlos secuencialmente. El método es llamado en el primer *DataFrame*, mientras que el segundo es pasado como el primer argumento. 

  Algunos de sus argumentos son:

  * **`how`**: Este argumento define qué valores se van a conservar. Tiene 4 opciones, inspiradas en los *join* de SQL.
  * **`outer`**: Se conservan todos los elementos.
  * **`inner`**: Se conservan solo los elementos que estén en ambos *DataFrame*.
  * **`left`**: Se conservan todos los elementos del *DataFrame* izquierdo.
  * **`right`**: Se conservan todos los elementos del *DataFrame* derecho.
  * **`on` | `left_on` | `right_on`**: Nombre de la columna a combinar. Se puede definir nombres distintos por cada *DataFrame*.

  * **`left_index` | `right_index`**: Utilizar el índice en vez de una columna.
  * **`suffixes` | `indicator`**: Generar columnas con información general de la combinación, como el origen de la columna o el método usado.

In [82]:
df_izq = pd.DataFrame(
    {
     'a' : ['a0', 'a1', 'a2'],
     'b' : ['b0', 'b1', 'b2']
    }
)

df_izq

    a   b
0  a0  b0
1  a1  b1
2  a2  b2

In [83]:
df_der = pd.DataFrame(
    {
     'a' : ['a1', 'a2', 'a3'],
     'c' : ['c1', 'c2', 'c3']
    }
)
df_der

    a   c
0  a1  c1
1  a2  c2
2  a3  c3

In [84]:
# Por defecto el método es "inner"
df_izq.merge(df_der, on = 'a') # Se une con respecto a la columna 'a' en ambas tablas.

    a   b   c
0  a1  b1  c1
1  a2  b2  c2

In [85]:
df_izq.merge(df_der, on = 'a', how = 'outer')

    a    b    c
0  a0   b0  NaN
1  a1   b1   c1
2  a2   b2   c2
3  a3  NaN   c3

In [86]:
df_izq.merge(df_der, on = 'a', how = 'left')

    a   b    c
0  a0  b0  NaN
1  a1  b1   c1
2  a2  b2   c2

In [87]:
df_izq.merge(df_der, on = 'a', how = 'right')

    a    b   c
0  a1   b1  c1
1  a2   b2  c2
2  a3  NaN  c3

In [88]:
df_der = pd.DataFrame(
  {
    'col_a' : ['a1', 'a2', 'a3'],
    'b' : ['B1', 'B2', 'B3']
  }
)
df_der

  col_a   b
0    a1  B1
1    a2  B2
2    a3  B3

In [89]:
#Cuando se encuentran registros solapados se crean columnas aparte con sufijos por cada tabla.
df_izq.merge(df_der, 
              left_on = 'a',      # Columna usada en la tabla izquierda.
              right_on = 'col_a', # Columna usada en la tabla derecha.
              how = 'outer')

     a  b_x col_a  b_y
0   a0   b0   NaN  NaN
1   a1   b1    a1   B1
2   a2   b2    a2   B2
3  NaN  NaN    a3   B3

In [90]:
df_izq.merge(df_der, 
              left_on = 'a',      # Columna usada en la tabla izquierda.
              right_on = 'col_a', # Columna usada en la tabla derecha.
              how = 'outer',
              suffixes = ('_izq', '_der'), # Sufijos para columnas solapadas.
              indicator = True # Indicador (columna "_merge") de origen de cada fila.
              )

     a b_izq col_a b_der      _merge
0   a0    b0   NaN   NaN   left_only
1   a1    b1    a1    B1        both
2   a2    b2    a2    B2        both
3  NaN   NaN    a3    B3  right_only

* **`df.join`**: Este método comparte la funcionalidad de **`merge`**, pero acercándose más al estilo de combinación de tablas SQL, que realiza combinaciones en los índices de cada tabla. Si bien se puede obtener el mismo resultado con **`merge`** y los argumentos **`left_index`** y **`right_index`**, se recomienda usar **`join`** para simplificar la tarea.

In [91]:
df_izq = pd.DataFrame(
    {
     'a' : ['a0', 'a1', 'a2'],
     'b' : ['b0', 'b1', 'b2']
    },
    index = ['i0', 'i1', 'i2'] #Usamos el mismo ejemplo, pero con índice distinto.
)

df_izq

     a   b
i0  a0  b0
i1  a1  b1
i2  a2  b2

In [92]:
df_der = pd.DataFrame(
    {
     'c' : ['c1', 'c3', 'c4'],
     'd' : ['d1', 'd3', 'd4']
    },
    index = ['i1', 'i3', 'i4']
)

df_der

     c   d
i1  c1  d1
i3  c3  d3
i4  c4  d4

In [93]:
# Usando merge
df_izq.merge(df_der, left_index = True, right_index = True, how = 'outer')

      a    b    c    d
i0   a0   b0  NaN  NaN
i1   a1   b1   c1   d1
i2   a2   b2  NaN  NaN
i3  NaN  NaN   c3   d3
i4  NaN  NaN   c4   d4

In [94]:
# El mismo resultado con join
df_izq.join(df_der, how = 'outer')

      a    b    c    d
i0   a0   b0  NaN  NaN
i1   a1   b1   c1   d1
i2   a2   b2  NaN  NaN
i3  NaN  NaN   c3   d3
i4  NaN  NaN   c4   d4

El objeto pasado como argumento puede ser un objeto *Series* con nombre. El nombre es necesario pues corresponde al nombre de la columna creada.

In [95]:
sr = pd.Series([0, 1, 0, 0], 
                 index = ['i0', 'i1', 'i3', 'i4'],
                 name = 's')

df_der.join(sr) # En join el método por defecto es "left"

     c   d  s
i1  c1  d1  1
i3  c3  d3  0
i4  c4  d4  0

In [96]:
df_der2 = pd.DataFrame(    
    { 
      'b' : ['b1', 'b3', 'b4'],
      'c' : ['c1', 'c3', 'c4']      
    },
    index = ['i1', 'i3', 'i4']
)

df_izq.join(df_der2, 
             how = 'outer',
             lsuffix = '_izq', # Los sufijos se especifican por separado.
             rsuffix = '_der'
             )

      a b_izq b_der    c
i0   a0    b0   NaN  NaN
i1   a1    b1    b1   c1
i2   a2    b2   NaN  NaN
i3  NaN   NaN    b3   c3
i4  NaN   NaN    b4   c4

El método **`join`** también permite hacer múltiples combinaciones en un solo llamado, pasando como argumento del método una lista de *DataFrames*.

In [97]:
df_der2 = pd.DataFrame(    
    { 
      'e' : ['e0', 'e3', 'e4'],
      'f' : ['f0', 'f3', 'f4']      
    },
    index = ['i0', 'i3', 'i4']
)


df_izq.join([df_der, df_der2], 
             how = 'outer')

      a    b    c    d    e    f
i0   a0   b0  NaN  NaN   e0   f0
i1   a1   b1   c1   d1  NaN  NaN
i2   a2   b2  NaN  NaN  NaN  NaN
i3  NaN  NaN   c3   d3   e3   f3
i4  NaN  NaN   c4   d4   e4   f4

#### **4.2. Agrupación de datos con `df.groupby`**
---

*Pandas* ofrece métodos para realizar operaciones de agrupación y combinación de datos dentro de un mismo objeto. Estas operaciones consisten en tres fases:

*  **Separar** los datos en grupos basándose en algunos criterios.
*  **Aplicar** una función a cada grupo. Estas funciones pueden ser de agregación, transformación o filtrado.
*  **Combinar** los resultados de la función en una estructura de datos nueva, como un *DataFrame*.


Esto es posible con el método **`groupby`**, que realiza un agrupamiento respecto a los criterios definidos en su argumento.

In [98]:
#Usaremos de nuevo el dataset de ejemplo de Anscombe para este ejemplo.
df = pd.read_json('sample_data/anscombe.json', orient = 'records')

df

   Series   X      Y
0       I  10   8.04
1       I   8   6.95
2       I  13   7.58
3       I   9   8.81
4       I  11   8.33
5       I  14   9.96
6       I   6   7.24
7       I   4   4.26
8       I  12  10.84
9       I   7   4.81
10      I   5   5.68
11     II  10   9.14
12     II   8   8.14
13     II  13   8.74
14     II   9   8.77
15     II  11   9.26
16     II  14   8.10
17     II   6   6.13
18     II   4   3.10
19     II  12   9.13
20     II   7   7.26
21     II   5   4.74
22    III  10   7.46
23    III   8   6.77
24    III  13  12.74
25    III   9   7.11
26    III  11   7.81
27    III  14   8.84
28    III   6   6.08
29    III   4   5.39
30    III  12   8.15
31    III   7   6.42
32    III   5   5.73
33     IV   8   6.58
34     IV   8   5.76
35     IV   8   7.71
36     IV   8   8.84
37     IV   8   8.47
38     IV   8   7.04
39     IV   8   5.25
40     IV  19  12.50
41     IV   8   5.56
42     IV   8   7.91
43     IV   8   6.89

In [99]:
# Podemos definir una columna categórica respecto a la cual agrupar.
df.groupby('Series')

La agrupación genera un objeto de tipo **`groupby`**, que contiene la información y los métodos necesarios para operar con cada grupo obtenido. Cada grupo es técnicamente un *DataFrame*, aunque para esto se tienen que iterar.

In [100]:
for nombre, grupo in df.groupby('Series'):
  print(f'Nombre del grupo: {nombre}')
  print(grupo)

Nombre del grupo: I
   Series   X      Y
0       I  10   8.04
1       I   8   6.95
2       I  13   7.58
3       I   9   8.81
4       I  11   8.33
5       I  14   9.96
6       I   6   7.24
7       I   4   4.26
8       I  12  10.84
9       I   7   4.81
10      I   5   5.68
Nombre del grupo: II
   Series   X     Y
11     II  10  9.14
12     II   8  8.14
13     II  13  8.74
14     II   9  8.77
15     II  11  9.26
16     II  14  8.10
17     II   6  6.13
18     II   4  3.10
19     II  12  9.13
20     II   7  7.26
21     II   5  4.74
Nombre del grupo: III
   Series   X      Y
22    III  10   7.46
23    III   8   6.77
24    III  13  12.74
25    III   9   7.11
26    III  11   7.81
27    III  14   8.84
28    III   6   6.08
29    III   4   5.39
30    III  12   8.15
31    III   7   6.42
32    III   5   5.73
Nombre del grupo: IV
   Series   X      Y
33     IV   8   6.58
34     IV   8   5.76
35     IV   8   7.71
36     IV   8   8.84
37     IV   8   8.47
38     IV   8   7.04
39     IV   8   5.25
40     IV  19  12.50
41     IV   8   5.56
42     IV   8   7.91
43     IV   8   6.89

Si se desea obtener un grupo en particular, puede usar el método **`get_group`**, indicando el nombre del grupo creado.

In [101]:
df.groupby('Series').get_group('I')

   Series   X      Y
0       I  10   8.04
1       I   8   6.95
2       I  13   7.58
3       I   9   8.81
4       I  11   8.33
5       I  14   9.96
6       I   6   7.24
7       I   4   4.26
8       I  12  10.84
9       I   7   4.81
10      I   5   5.68

También pueden tomarse funciones, que son evaluadas en el índice del objeto. Sin embargo, es más práctico utilizar los métodos propios del objeto para **aplicar** funciones comunes.

A continuación se presentan algunos de los métodos más importantes y flexibles definidos para objetos de este tipo.

* **`groupby.apply`**: Este método es el más general para la aplicación de funciones en grupos de un objeto **`groupby`**. Permite aplicar una función en un objeto por cada grupo (un objeto *DataFrame*) calculado.

In [102]:
#Máximo de los elementos en la columna Y de cada grupo.
df.groupby('Series').apply(lambda df: df['Y'].max())

Series
I      10.84
II      9.26
III    12.74
IV     12.50
dtype: float64

In [103]:
def apply_func(df):
  '''
  Función más compleja que define una fila nueva
  con los máximos y mínimos en X y Y de cada grupo.
  '''
  return pd.Series({
       'max_x': df['X'].max(),
       'min_x': df['X'].min(),
       'max_y': df['Y'].max(),
       'min_y': df['Y'].min()
   })

df.groupby('Series').apply(apply_func)

        max_x  min_x  max_y  min_y
Series
I        14.0    4.0  10.84   4.26
II       14.0    4.0   9.26   3.10
III      14.0    4.0  12.74   5.39
IV       19.0    8.0  12.50   5.25

El método **`apply`** está definido también en objetos *DataFrame* y *Series*.

In [104]:
# En Series recibe funciones que toman como parámetros valores escalares.

s = pd.Series(np.linspace(0,1,11))

s

0     0.0
1     0.1
2     0.2
3     0.3
4     0.4
5     0.5
6     0.6
7     0.7
8     0.8
9     0.9
10    1.0
dtype: float64

In [106]:
# Función de números negativos.

s.apply(lambda x: -x)

0    -0.0
1    -0.1
2    -0.2
3    -0.3
4    -0.4
5    -0.5
6    -0.6
7    -0.7
8    -0.8
9    -0.9
10   -1.0
dtype: float64

In [107]:
# En DataFrame, el argumento recibe una fila o columna en forma de Series.

df = pd.DataFrame(np.random.rand(7,3), columns = list('abc'))
df

          a         b         c
0  0.473542  0.805872  0.596720
1  0.827358  0.584377  0.221700
2  0.286465  0.480456  0.932753
3  0.095232  0.740932  0.711417
4  0.327530  0.457590  0.411092
5  0.665819  0.171847  0.915450
6  0.347425  0.744941  0.090896

In [110]:
# Por defecto se aplica la función en columnas.
df.apply(lambda row: row.sum())

a    3.023371
b    3.986015
c    3.880028
dtype: float64

In [111]:
#El argumento axis = 1 indica que se aplique por filas.
df.apply(lambda row: row.sum(), axis = 1)

0    1.876134
1    1.633435
2    1.699673
3    1.547582
4    1.196213
5    1.753115
6    1.183261
dtype: float64

* **`groupby.aggregate|agg`**: Uno de los tipos de aplicación de funciones más importante es la **agregación** que consiste en realizar un cálculo en cada grupo que resuma o represente al grupo completo, como la suma o la media. Para esto, se puede usar el método **`.aggregate`** (o su equivalente **`.agg`**), que acepta como argumento una función de agregación a aplicar en los *DataFrame* definidos en cada grupo.

En el siguiente video presentamos un ejemplo de su aplicación, con una tabla ficticia de datos de una competición deportiva internacional.

> **Nota:** Las funciones **`agg`** y **`aggregate`** también están disponibles como métodos de *DataFrame* y *Series*.

In [109]:
#@title **4.2.1. Agrupación y agregación (animación)**
from IPython.display import HTML

HTML('<iframe style="width:768px; height: 432px;" src="https://drive.google.com/file/d/15bQjLpq4Dfvb_IkwYs5pZzg1mEiL7OcS/preview"></iframe>')

/usr/local/lib/python3.7/dist-packages/IPython/core/display.py:701: UserWarning: Consider using IPython.display.IFrame instead
  warnings.warn("Consider using IPython.display.IFrame instead")

In [112]:
df = pd.DataFrame({
      'País'      : ['COL', 'BRA', 'VEN', 'COL', 'VEN', 'COL'],
      'Edad'      : [20, 24, 30, 34, 25, 35],
      'Medallas'  : [5, 14, 4, 4, 10, 0]
   },
   index = ['1001', '1002','1003','1004','1005','1006']
   )

df

     País  Edad  Medallas
1001  COL    20         5
1002  BRA    24        14
1003  VEN    30         4
1004  COL    34         4
1005  VEN    25        10
1006  COL    35         0

El método **`agg`** acepta funciones puntuales como **`apply`**, además de permitir ingresar una o varias funciones de agregación por columna mediante un diccionario.

In [113]:
# Tabla que refleja la edad máxima y el total de medallas por país.

df.groupby('País').agg({'Edad' : max, 'Medallas' : sum})

      Edad  Medallas
País
BRA     24        14
COL     35         9
VEN     30        14

In [114]:
# Se pueden agregar varias funciones por columna.

df.groupby('País').agg({'Edad' : [min, max], 'Medallas' : sum})

     Edad     Medallas
      min max      sum
País
BRA    24  24       14
COL    20  35        9
VEN    25  30       14

In [115]:
# El mismo resultado se puede conseguir con una función y el método apply.

def resumen_deportivo(df):
  return pd.Series({ 
                      'Edad (max)': df['Edad'].max(), 
                      'Medallas (sum)': df['Medallas'].sum()
                    })

df.groupby('País').apply(resumen_deportivo)

      Edad (max)  Medallas (sum)
País
BRA           24              14
COL           35               9
VEN           30              14

## **Recursos adicionales**
---

En este material se consideran algunas de las funciones más comunes, pero quedan muchas otras fuera de alcance. Lo invitamos a que consulte la [documentación oficial](https://pandas.pydata.org/pandas-docs/stable/reference/index.html), y en especial la [Guía de usuario](https://pandas.pydata.org/pandas-docs/stable/user_guide/index.html) de *pandas*. 

Además, a continuación se presenta una lista de recursos adicionales que le podrán ser de utilidad:

*  [University of California San Diego. Coursera - Machine Learning With Big Data](https://www.coursera.org/learn/big-data-machine-learning)
*  [Data vedas - Exploración y preparación de los datos](https://www.datavedas.com/data-exploration-and-preparation/)
*  [Kaggle - Pandas](https://www.kaggle.com/learn/pandas)
*  [CodeCademy - Learn Data Analysis with Pandas](https://www.codecademy.com/learn/data-processing-pandas)
*  [University of Michigan. Coursera - Applied Data Science with Python Specialization](https://www.coursera.org/specializations/data-science-python)

## **Créditos**
---

* **Profesor:** [Felipe Restrepo Calle](https://dis.unal.edu.co/~ferestrepoca/)
* **Asistentes docentes:**
  - Alberto Nicolai Romero Martínez
  - Miguel Angel Ortiz Marín

**Universidad Nacional de Colombia** - *Facultad de Ingeniería*